body {
    margin: 0;
    background: #0d0d0d;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
}

.app-container {
    width: 100%;
    max-width: 900px;
    background: #141414;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    border: 1px solid #2b2b2b;
}

#header {
    padding: 20px;
    text-align: center;
    background: #d4d7db;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #2b2b2b;
}

#chat-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 25px;
}

.message {
    max-width: 75%;
    padding: 15px 18px;
    margin-bottom: 18px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 1.5;
    animation: fadeIn 0.2s ease-in-out;
    white-space: pre-wrap;
}

/* estilo de mensaje - usuarios */
.user {
    background: white;
    color: black;
    margin-left: auto;
    border-bottom-right-radius: 4px;
}

/* estilo de mensaje - chatbot */
.bot {
    background: #1e1e1e;
    color: #e6e6e6;
    margin-right: auto;
    border: 1px solid #333;
    border-bottom-left-radius: 4px;
}

/* Input flotante tipo Gemini */
#input-container {
    display: flex;
    padding: 15px 20px;
    background: #141414;
    border-top: 1px solid #2b2b2b;
    gap: 12px;
}

#message-input {
    flex: 1;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #333;
    background: #1d1d1d;
    color: white;
    outline: none;
    font-size: 16px;
}

/* Botones minimalistas */
#file-btn {
    padding: 12px 16px;
    background: #d4d7db;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

#send-btn{
    padding: 12px 16px;
    background: #1a57c9;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

#send-btn:hover, #file-btn:hover {
    background: #1a57c9;
}

/* Animación smooth */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Indicador escribiendo */
#typing {
    color: #aaa;
    font-style: italic;
    padding: 0 25px;
    padding-bottom: 10px;
    display: none;
    font-size: 14px;
}
